In [6]:
import pandas as pd

df = pd.read_csv('csv/logs_treinamento.csv')

print("Dados do DataFrame:")
print(df)

media_tempo = df['tempo_execucao'].mean()
desvio_padrao_tempo = df['tempo_execucao'].std()

print(f"\nMédia do tempo de execução: {media_tempo:.2f} segundos")
print(f"Desvio padrão do tempo de execução: {desvio_padrao_tempo:.2f} segundos")

Dados do DataFrame:
    modelo  tempo_execucao
0  ModeloA             120
1  ModeloB             150
2  ModeloC             130
3  ModeloD             110
4  ModeloE             140
5  ModeloF             190
6  ModeloG             100

Média do tempo de execução: 134.29 segundos
Desvio padrão do tempo de execução: 29.92 segundos

In [20]:
import os
import csv

dados = [
    ['Pedro', 28, 'Recife'],
    ['Maria', 22, 'Rio de Janeiro'],
    ['Pedro', 35, 'Belo Horizonte'],
    ['Ana', 30, 'Curitiba'],
    ['Lucas', 25, 'Porto Alegre']
]

nome_arquivo = input("Digite o nome do arquivo CSV: ")
caminho_arquivo = os.path.join('csv', nome_arquivo)

def escrever_csv(title, data):
    with open(title, 'w') as arquivo_csv:
        escritor = csv.writer(arquivo_csv)
        escritor.writerow(['Nome','Idade','Cidade'])
        for linha in dados:
            escritor.writerow(linha)
    print(f"Dados salvos em {nome_arquivo}") 

escrever_csv(caminho_arquivo, dados)

Dados salvos em dados.csv

In [21]:
import pandas as pd

df = pd.read_csv("csv/dados.csv")
df

    Nome  Idade          Cidade
0  Pedro     28          Recife
1  Maria     22  Rio de Janeiro
2  Pedro     35  Belo Horizonte
3    Ana     30        Curitiba
4  Lucas     25    Porto Alegre

In [25]:
import json

nome_arquivo = input("Digite o nome do arquivo JSON: ")
caminho_arquivo = os.path.join('json', nome_arquivo)

def escrever_json(title, data):
    dados_dict = [
        {'Nome': linha[0], 'Idade': linha[1], 'Cidade': linha[2]}
        for linha in data
    ]
    with open(title, 'w') as arquivo_json:
        json.dump(dados_dict, arquivo_json, ensure_ascii=False, indent=4)
    print(f"Dados salvos em {title}")


escrever_json(caminho_arquivo, dados)

df = pd.read_json("json/dados.json")
df

Dados salvos em json\dados.json

    Nome  Idade          Cidade
0  Pedro     28          Recife
1  Maria     22  Rio de Janeiro
2  Pedro     35  Belo Horizonte
3    Ana     30        Curitiba
4  Lucas     25    Porto Alegre